<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialistas</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/cont_Especialista.css">
    <script src="https://kit.fontawesome.com/b9e3abcb67.js" crossorigin="anonymous"></script>"
</head>

<body>
    <header class="header">
        <div class="header_container">
            <div class="header_logotext">
                <img src="img/logo.png" alt="Clasbo+" />
                <h1>Clínica Dental Clasbo</h1>
            </div>

            <div class="menu-alterno" id="menu-alterno" aria-label="Abrir menú" role="button" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <a href="./index.html"> <i class="fas fa-home"></i> Inicio </a>
                <a href="./servicios.html"> <i class="fas fa-tooth"></i> Servicios </a>
                <a href="#"><i class="fas fa-stethoscope"></i> Especialistas</a>
                <a href="./ofertas.html"><i class="fas fa-tags"></i> Ofertas</a>
                <a href="./sobrenosotros.html"> <i class="fas fa-users"></i> Sobre nosotros </a>
                <a href="./citas.html"> <i class="fas fa-calendar-alt"></i> Citas </a>
                <a id="iniciar" href="./login.html"><i class="fas fa-user"></i> Iniciar Sesión </a>
            </nav>
        </div>
    </header>
    <div class="clearfix"></div>
    <!--fin encabezado-->
    <!--contenido-->
    <div class="filaD"> <!--primera columna imagen-->
        <div class="columnaD">
            <div class="galeriaE">
                <img src="../imagenes/Patologia_y_analisis.jpg" alt="">
            </div>
        </div>
        <!--segunda columna detalle-->
        <div class="columnaD">
            <div class="galeriaD">
                <div class="descD">
                    <p><strong>Andrea Lozano Vargas</strong><br><br>
                        <strong>Especialidades:</strong><br>
                        <i class="fas fa-solid fa-check"></i>Diplomado en Endioperiodontología<br>
                        <i class="fas fa-solid fa-check"></i>Residente en especialidad de Endoperiodoncia<br>
                        <br>
                        <strong>Acerca de mi:</strong>
                        <br>
                        La Dra. Andrea Lozano Vargas es una destacada especialista en endodoncia, con una experiencia
                        de 6 años en el campo, ha trabajado en diversas clínicas dentales y hospitales, además de
                        contar con una sólida formación en rehabilitación oral e implantología, así como en periodoncia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <table>
            <!--Tiene 3 etiquetas, tr (fila), th (encabezado columna), td (columna contenido)-->
            <tr>
                <th>Clínica Dental Clasbo</th>
                <th>Redes Sociales</th>
                <th>Copyright</th>
            </tr>
            <tr>
                <td>
                    <i class="fas fa-map-marker-alt"></i>
                    <a href="https://maps.app.goo.gl/dtcW8Vk9sLSRdM9V6" target="_blank"
                        style="text-decoration: none; color: inherit">
                        Av. 8 Esq. C. 29 C, Ignacio Zaragoza, Venustiano Carranza, <br />
                        15000 Ciudad de México, CDMX
                    </a>
                    <br />
                    <i class="fas fa-phone"></i> Teléfono: 55 3565 9327 <br />
                </td>
                <td>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </td>
                <td>
                    <ul>
                        <li>&#169; EDT - Elite Development Team, 2025</li>
                        <li>
                            <a class="whatsapp" href="https://wa.me/525619298974" target="_blank"><i
                                    class="fa-brands fa-whatsapp"></i> WhatsApp</a>
                        </li>
                        <li><i class="fas fa-envelope"></i> Email:</li>
                        <li>
                            <a class="correo" href="mailto:contacto@edt.com">contacto@edt.com</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </footer>
    <script>
        // Script para el menú alternativo
        const menuToggle = document.getElementById("menu-alterno");
        const nav = document.querySelector('.header nav');

        menuToggle.addEventListener("click", () => {
            nav.classList.toggle("active");
        });
    </script>
</body>


</html>