<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialistas</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cont_Especialista.css">
    <link rel="stylesheet" href="../css/cont_ConsultarServ.css">
    <script src="https://kit.fontawesome.com/b9e3abcb67.js" crossorigin="anonymous"></script>"
</head>

<body>
    <header class="header">
        <img src="../imagenes/LOGO_TEXTO_Transparente.png" alt="Clasbo+">

        <br><br>
        <h1> Clinica Dental CLASBO </h1>
        <div class="clearfix"></div>
        <nav>
            <a href="../index.html">
                <i class="fas fa-solid fa-house"></i> Inicio
            </a>
            <a href="../ConsultaDeServicios.html">
                <i class="fas fa-solid fa-tooth"></i>Servicios
            </a>
            <a href="../ConsultarEspecialista.html">
                <i class="fas fa-solid fa-stethoscope"></i>
                Especialistas
            </a>
            <a href="#">
                <i class="fast fa-solid fa-users"></i> Sobre Nosotros
            </a>
            <a href="#">
                <i class="fas fa-solid fa-calendar-alt"></i>
                Citas
            </a>
            <a id="iniciar-sesion" href="../inisec.html">
                <i class="fas fa-solid fa-user-md"></i> Iniciar Sesión
            </a>
        </nav>
    </header>
    <!--fin encabezado-->
    <!--contenido-->
    <div class="filaD"> <!--primera columna imagen-->
        <div class="columnaD">
            <div class="galeriaE">
                <img src="../imagenes/Patologia_y_analisis.jpg" alt="">
            </div>
        </div>
        <!--segunda columna detalle-->
        <div class="columnaD">
            <div class="galeriaD">
                <div class="descD">
                    <p><strong>Guadalupe Teresa Hernandez Arana</strong><br><br>
                        <strong>Especialidades:</strong><br>
                        <i class="fas fa-solid fa-check"></i>Patología y medicina bucal<br>
                        <i class="fas fa-solid fa-check"></i>Odontología general<br>
                        <br>
                        <strong>Acerca de mi:</strong>
                        <br>
                        La Dra. Guadalupe Teresa Hernandez Arana es una destacada especialista en patología y
                        medicina bucal, con una experiencia de 8 años en el campo, además de contar con una sólida
                        formación en diagnóstico y tratamiento de enfermedades bucales.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer class="piepagina">
        <table>
            <thead>
                <tr>
                    <th>Información</th>
                    <th>Redes Sociales</th>
                    <th>Copyright</th>
                </tr>
            </thead>
            <tbody>
                <tr><!--fila-->
                    <td>Clinica Dental Clasbo<br> <!--columna contenido-->
                        <i class="fa-solid fa-location-dot"> </i>Dirección: Av 8 esq,C 29, Ignacio Zaragoza,Venustiano
                        Carranza, 15000 CDMX<br>
                        <i class="fa-solid fa-phone"> </i>Teléfono: 55-35-65-93-27<br>
                        <i class="fa-solid fa-envelope"> </i> Email: contacto@clasbo.com<br>
                    </td>
                    <td class="redes-footer">
                        <a href="#"><i class="fa-brands fa-whatsapp"> </i> </a>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                    </td>
                    <td class="copyright">
                        &#169;Luis Antonio Bautista Patiño
                    </td>
                </tr>
            </tbody>
        </table>
    </footer>


</body>

</html>