<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/84d2ef09b5.js" crossorigin="anonymous"></script>
    <title>Clínica Dental Clasbo</title>
         <link rel="stylesheet" href="src/css/about.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    
    <header class="header">
            <img src="Imagenes/LOGO_TEXTO.png" alt="Clasbo">
            <h1>Clínica Dental Clasbo</h1>
            <div class="clearfix"></div>
            <nav> 
                 <a href="index.html">
                    <i class="fa-solid fa-house"></i>
                    Inicio</a>
                <a href="#">
                    <i class="fa-solid fa-tooth"></i>
                    Servicios</a>
                <a href="#">
                    <i class="fa-solid fa-hand-holding-heart"></i>
                    Especialidades</a>
                <a href="#">
                    <i class="fa-solid fa-stethoscope"></i>
                    Especialistas</a>
                    <a href="#">
                    <i class="fa-solid fa-heart"></i>
                    Sobre Nosotros</a>
                <a href="#">
                    <i class="fa-solid fa-calendar-week"></i>
                    Citas</a>
                    <a href="form_sesion.html" id="sesion">
                    <i class="fas fa-user"></i>
                    Iniciar Sesión
                    </a>
                    </a>

            </nav>
        </header>
        <div class="clearfix"></div>
        <section class="sobrenosotros">
        <h1>Sobre Nosotros</h1>
        <p>En Clasbo+, creemos que una sonrisa saludable transforma vidas...</p>
</section>

<div class="filasn"> 
    <!--primera columna-->
    <div class="columnasn">
        <div class="galeriasn">
            <div class="detallesn">
                <p id="nombre">Clínica Dental Clasbo</p> <br>
                <p><span class="negritas">En Clasbo+</span>, somos un consultorio dental     
                                          comprometido con brindar atención integral, cercana y de 
                                          calidad a cada uno de nuestros pacientes.
                                          Queremos que cuidar de tu salud bucal sea sencillo, seguro 
                                          y accesible.</p> <br>
                   <button id="botcontact" type="button" onclick="alert('Solicitado')"><i class="fa-solid fa-handshake"></i> Contáctanos</button>
            </div>
        </div>
    </div>

    <!--segunda columna-->
    <div class="columnasn">
        <div class="galeriasn">
            <img src="Imagenes/sobrenosotrosPost.png.crdownload" alt="">
        </div>
    </div>
</div>

<div class="contenedor-columnas">

    <!-- Primera columna -->
    <div class="icon">
                <p><i class="fa-solid fa-calendar-week fa-3x"></i></p>
    </div>
    

    <!-- Segunda columna -->
    <div class="columnasn1">
        <div class="galeriasn1">
            <p class="titulo-servicio">Facilitamos tu Cita</p>
            <p class="descripcion-servicio">Agenda fácilmente desde nuestra plataforma y cuida tu sonrisa con comodidad.</p>
        </div>
    </div>
</div>

<div class="contenedor-columnas">

 <!-- Tercera columna -->
    <div class="icon">
                <p><i class="fa-solid fa-tooth fa-3x"></i></p>
    </div>
    

    <!-- Cuarta columna -->
    <div class="columnasn1">
        <div class="galeriasn1">
            <p class="titulo-servicio">Conoce Nuestros Servicios</p>
            <p class="descripcion-servicio">Explora todos los tratamientos dentales que ofrecemos para cuidar de tu sonrisa</p>
        </div>
    </div>
</div>

<div class="contenedor-columnas">

 <!-- Tercera columna -->
    <div class="icon">
            <p><i class="fa-solid fa-house fa-3x"></i></p>
    </div>
    

    <!-- Cuarta columna -->
    <div class="columnasn1">
        <div class="galeriasn1">
            <p class="titulo-servicio">Todo Desde tu Hogar</p>
            <p class="descripcion-servicio">Tu sonrisa comienza desde casa. Con Clasbo+, todo lo que necesitas está al alcance de un clic.</p>
        </div>
    </div>
</div>

<section class="seccion-mision-vision">

    <div class="contenedor-tarjetas">

        <!-- Tarjeta Misión -->
        <div class="tarjeta">
            <div class="icono-tarjeta">
                <i class="fa-solid fa-trophy fa-3x"></i>
            </div>
            <h3>Misión</h3>
            <p>La misión de la Clínica Dental Clasbo es cuidar la salud bucal de cada paciente con atención cálida, personalizada y profesional, creando experiencias positivas que generen confianza, bienestar y una sonrisa saludable en un entorno seguro y accesible.</p>
        </div>

        <!-- Tarjeta Visión -->
        <div class="tarjeta">
            <div class="icono-tarjeta">
                <i class="fa-solid fa-bullseye fa-3x"></i>
            </div>
            <h3>Visión</h3>
            <p>Contribuir a la transformación digital del sector salud mediante el desarrollo de soluciones tecnológicas funcionales, accesibles y seguras, como una aplicación web que facilite la gestión clínica y administrativa en centros odontológicos, mejorando la experiencia tanto de usuarios como de profesionales.</p>
        </div>

    </div>
</section>

<h2 style="text-align: center; margin-top: 30px;">Nuestros Valores</h2>

<div class="contenedor-valores">

    <div class="tarjeta-valor">
        <p><i class="fa-solid fa-heart"></i></p>
        <p><strong>Empatía</strong></p>
        <p>Escuchamos y entendemos a nuestros pacientes.</p>
    </div>

    <div class="tarjeta-valor">
        <p><i class="fa-solid fa-graduation-cap"></i></p>
        <p><strong>Profesionalismo</strong></p>
        <p>Equipo capacitado y en constante formación.</p>
    </div>

    <div class="tarjeta-valor">
        <p><i class="fa-solid fa-comments"></i></p>
        <p><strong>Transparencia</strong></p>
        <p>Explicamos cada procedimiento con claridad.</p>
    </div>

    <div class="tarjeta-valor">
        <p><i class="fa-solid fa-handshake"></i></p>
        <p><strong>Compromiso</strong></p>
        <p>Tu salud es nuestra prioridad.</p>
    </div>

    <div class="tarjeta-valor">
        <p><i class="fa-solid fa-lightbulb"></i></p>
        <p><strong>Innovación</strong></p>
        <p>Buscamos mejorar la experiencia con tecnología.</p>
    </div>

</div>

<h2 style="text-align: center; margin-top: 40px;">Cuidamos de tu sonrisa</h2>

<div class="seccion-final">

    <!-- Imagen -->
    <div class="imagen-final">
        <img src="Imagenes/sonrisa.png" alt="Paciente feliz">
    </div>

    <!-- Frase -->
    <p class="frase-final">Cuidamos de tu Sonrisa con Tecnología y Calidez</p>

</div>



<div class="clearfix"></div>
    <!--Pie de página-->
    <footer class="pie">
        <table>
            <tr>
                <td>
                    Clínica Dental Clasbo <br>
                     <i class="fa-solid fa-location-dot"></i>
                     Av. 8 Esq. C. 29 C, Ignacio Zaragoza, Venustiano Carranza, 15000 Ciudad de México, CDMX. <br>
                     <i class="fa-solid fa-phone"></i>
                     Contacto: 55 3565 9327 <br>
                </td>
                <td>
                    <i class="fa-brands fa-instagram"></i>
                    ClasboPlus <br>
                    <i class="fa-brands fa-facebook"></i>
                    Clínica Dental Clasbo <br>
                    <i class="fa-brands fa-square-twitter"></i>
                    @clinica_clasbo <br>
                    <i class="fa-brands fa-whatsapp"></i>
                    55 3565 9327 <br>
                    &#169; J.B.C.J <br>
                </td>
            </tr>
        </table>
    </footer>
</body>
</html>

