<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios - Clínica Dental Clasbo</title>
    <link rel="stylesheet" href="css/styleconsulta.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://kit.fontawesome.com/0edb134f6f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <img src="imagenes/LOGO_TEXTO.png" alt="Clasbo+" />
      <h1>Clínica Dental Clasbo</h1>
      <div class="clearfix"></div>
      <nav>
        <a href="index.html"> <i class="fas fa-home"></i> Inicio </a>
        <a href="#"> <i class="fas fa-tooth"></i> Servicios </a>
        <a href="especialistas.html"> <i class="fas fa-stethoscope"></i> Especialistas </a>
        <a href="#"> <i class="fas fa-users"></i> Sobre nosotros </a>
        <a href="#"> <i class="fas fa-calendar-alt"></i> Citas </a>
      </nav>
    </header>
    <div class="clearfix"></div>

    <!-- Aquí empieza el contenido -->
    <div class="FilaD">
      <!-- Primera columna img -->
      <div class="columnaD">
        <div class="galeriaD">
          <a class="enlace" href="#">
            <img src="imagenes/profilaxis.png" alt="Servicio1" />
          </a>
        </div>
      </div>

      <!-- Segunda columna texto -->
      <div class="descD">
        <p id="nombreD">Profilaxis Dental</p>
        <br />
        <p>
          La profilaxis dental es una limpieza profunda que realizamos en tus dientes
          y encías para eliminar la placa y el sarro que no se pueden quitar con el cepillado diario. 
          Este tratamiento ayuda a prevenir enfermedades en las encías y mantiene tu boca sana, 
          fresca y libre de molestias.Con una profilaxis regular, proteges tu sonrisa 
          y cuidas tu salud bucal a largo plazo.
        </p>
        <br />
        <p>¡Ven y cuida tu sonrisa con nosotros!</p>
        <br />
        <p id="precioD">$1,000</p>
        <br />
        <div class="botoncita">
          <button id="botonD" type="button" onclick="alert('Cita agendada!')">
            <i class="fas fa-calendar-alt"></i> Agendar Cita
          </button>
        </div>
      </div>
    </div>
  </body>
  <footer class="footer">
      <table>
        <!--Tiene 3 etiquetas, tr (fila), th (encabezado columna), td (columna contenido)-->
        <tr>
          <th>Clínica Dental Clasbo</th>
          <th>Redes Sociales</th>
          <th>Copyright</th>
        </tr>
        <tr>
          <td>
            <i class="fas fa-map-marker-alt"></i> 
            Av. 8 Esq. C. 29 C, Ignacio
            Zaragoza, Venustiano Carranza, <br />
            15000 Ciudad de México, CDMX <br />
            <i class="fas fa-phone"></i> Teléfono: 55 3565 9327 <br />
          </td>
          <td>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </td>
          <td>
            <ul>
              <li>&#169; Isabel Mérida, 2025</li>
              <li>
                <a class="whatsapp" href="https://wa.me/525619298976" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
              </li>
              <li><i class="fas fa-envelope"></i> Email:</li>
              <li>
                <a class="correo" href="mailto:Isa.Meryda@outlook.com">Isa.Meryda@outlook.com</a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </footer>
  </body>
</html>