<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica especialistas</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/cont_Especialista.css" />
    <script src="https://kit.fontawesome.com/0edb134f6f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="header_container">
            <div class="header_logotext">
                <img src="img/logo.png" alt="Clasbo+" />
                <h1>Clínica Dental Clasbo</h1>
            </div>

            <div class="menu-alterno" id="menu-alterno" aria-label="Abrir menú" role="button" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <a href="./index.html"> <i class="fas fa-home"></i> Inicio </a>
                <a href="./servicios.html"> <i class="fas fa-tooth"></i> Servicios </a>
                <a href="./Especialista.html"><i class="fas fa-stethoscope"></i> Especialistas</a>
                <a href="./ofertas.html"><i class="fas fa-tags"></i> Ofertas</a>
                <a href="./sobrenosotros.html"> <i class="fas fa-users"></i> Sobre nosotros </a>
                <a href="./citas.html"> <i class="fas fa-calendar-alt"></i> Citas </a>
                <a id="iniciar" href="./login.html"><i class="fas fa-user"></i> Iniciar Sesión </a>
            </nav>
        </div>
    </header>
    <div class="clearfix"></div>

    <div class="contenido">
        <h2><strong>Nuestros Especialistas Dentales</strong></h2>
        <p>En nuestra clínica dental, contamos con un equipo de especialistas altamente capacitados en diversas áreas de
            la odontología. Aquí te presentamos a algunos de nuestros expertos:</p>

    </div>
    <!--fila1-->
    <div class="filaE">
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/miguel.png" alt="">
                <div class="detalleE">
                    <p><strong>Miguel Angel Romero Hernandez </strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/MiguelAngel.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/arturo.png" alt="">
                <div class="detalleE">
                    <p><strong>Arturo Sanchez Molina</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/ArtutroSanchez.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/gabriela.png" alt="">
                <div class="detalleE">
                    <p><strong>Gabriela Chavarria Rojas</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/GabrielaChavarria.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/carlos.png" alt="">
                <div class="detalleE">
                    <p><strong>Viridiana Estrella del Rosal</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/ViridianaEstrella.html">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="clearfix"> </div>
    <!--fila2-->

    <div class="filaE">
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/jessica.png" alt="">
                <div class="detalleE">
                    <p><strong>Andrea Lozano Vargas</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/AndreaLozano.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/tanni.png" alt="">
                <div class="detalleE">
                    <p><strong>Tanni Mariana Zarco Yañez</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/TanniZarco.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/guadalupe.png" alt="">
                <div class="detalleE">
                    <p><strong>Guadalupe Teresa Hernandez Arana</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/GuadalupeHernandez.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="img/especialistas/edith.png" alt="">
                <div class="detalleE">
                    <p><strong>Edith Bahena Martinez</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/EdithBahena.html">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <footer class="footer">
      <table>
        <!--Tiene 3 etiquetas, tr (fila), th (encabezado columna), td (columna contenido)-->
        <tr>
          <th>Clínica Dental Clasbo</th>
          <th>Redes Sociales</th>
          <th>Copyright</th>
        </tr>
        <tr>
          <td>
            <i class="fas fa-map-marker-alt"></i>
            <a
              href="https://maps.app.goo.gl/dtcW8Vk9sLSRdM9V6"
              target="_blank"
              style="text-decoration: none; color: inherit"
            >
              Av. 8 Esq. C. 29 C, Ignacio Zaragoza, Venustiano Carranza, <br />
              15000 Ciudad de México, CDMX
            </a>
            <br />
            <i class="fas fa-phone"></i> Teléfono: 55 3565 9327 <br />
          </td>
          <td>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </td>
          <td>
            <ul>
              <li>&#169; EDT - Elite Development Team, 2025</li>
              <li>
                <a
                  class="whatsapp"
                  href="https://wa.me/525619298974"
                  target="_blank"
                  ><i class="fa-brands fa-whatsapp"></i> WhatsApp</a
                >
              </li>
              <li><i class="fas fa-envelope"></i> Email:</li>
              <li>
                <a class="correo" href="mailto:contacto@edt.com"
                  >contacto@edt.com</a
                >
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </footer>
    <script>
      // Script para el menú alternativo
      const menuToggle = document.getElementById("menu-alterno");
      const nav = document.querySelector(".header nav");

      menuToggle.addEventListener("click", () => {
        nav.classList.toggle("active");
      });
    </script>
    <!-- solo simula el envío del formulario -->
    <script>
  function agendarCita() {
    alert('¡Gracias! Cita agendada');
    window.location.href = './index.html';
    return false; // Evita que se recargue la página
  }
</script>
  </body>
</html>