<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica especialistas</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/cont_Especialista.css" />
    <script src="https://kit.fontawesome.com/0edb134f6f.js" crossorigin="anonymous"></script>
</head>
    
<body>
    <header class="header">
        <div class="header_container">
            <div class="header_logotext">
                <img src="img/logo.png" alt="Clasbo+" />
                <h1>Clínica Dental Clasbo</h1>
            </div>

            <div class="menu-alterno" id="menu-alterno" aria-label="Abrir menú" role="button" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <a href="./index.html"> <i class="fas fa-home"></i> Inicio </a>
                <a href="./servicios.html"> <i class="fas fa-tooth"></i> Servicios </a>
                <a href="#"><i class="fas fa-stethoscope"></i> Especialistas</a>
                <a href="./ofertas.html"><i class="fas fa-tags"></i> Ofertas</a>
                <a href="./sobrenosotros.html"> <i class="fas fa-users"></i> Sobre nosotros </a>
                <a href="./citas.html"> <i class="fas fa-calendar-alt"></i> Citas </a>
                <a id="iniciar" href="./login.html"><i class="fas fa-user"></i> Iniciar Sesión </a>
            </nav>
        </div>
    </header>
    <div class="clearfix"></div>

    <div class="detalleServ">
        <h1><strong>Nuestros Especialistas Dentales</strong></h1>
        <p>En nuestra clínica dental, contamos con un equipo de especialistas altamente capacitados en diversas áreas de
            la odontología. Aquí te presentamos a algunos de nuestros expertos:</p>

    </div>
    <!--fila1-->
    <div class="filaE">
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Patologia_y_analisis.jpg" alt="">
                <div class="detalleE">
                    <p><strong>Miguel Angel Romero Hernandez </strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/MiguelAngel.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Arturo Sanchez Molina</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/ArtutroSanchez.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Gabriela Chavarria Rojas</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/GabrielaChavarria.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Viridiana Estrella del Rosal</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/ViridianaEstrella.html">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="clearfix"> </div>
    <!--fila2-->

    <div class="filaE">
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Andrea Lozano Vargas</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/AndreaLozano.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Tanni Mariana Zarco Yañez</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/TanniZarco.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Guadalupe Teresa Hernandez Arana</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/GuadalupeHernandez.html">Ver más</a>
                </div>
            </div>
        </div>
        <div class="columnaE">
            <div class="galeriaE">
                <img src="imagenes/Profilaxis_dental.png" alt="">
                <div class="detalleE">
                    <p><strong>Edith Bahena Martinez</strong></p><br>
                    <a class="btnE" href="ConsultasEspecialistas/EdithBahena.html">Ver más</a>
                </div>
            </div>
        </div>
    </div>