<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c6e5683dc9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="../../img/logo.png" />
    <link rel="stylesheet" href="./css/register.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Registro - Clínica Dental Clasbo</title>
  </head>
  <body>
    <header class="header_sesion">
      <a href="index.html"><img src="img/logo.png" alt="Clasbo+" /></a>
      <h1>Clínica Dental Clasbo</h1>
    </header>
    <div class="screen">
      <div class="register-container">
        <h2>Regístrate</h2>
        <p class="register-subtitle">Por favor regístrate</p>

        <!-- Mensajes dinámicos -->
        <div id="form-feedback" class="form-feedback"></div>

        <form id="register-form">
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Nombre(s)" name="name" required />
          </div>
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Apellido paterno"
              name="last_name"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Apellido materno"
              name="second_last_name"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input
              type="email"
              placeholder="Correo electrónico"
              name="email"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-calendar-alt"></i>
            <input
              type="date"
              placeholder="Fecha de nacimiento"
              name="date"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Contraseña"
              name="password"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Confirmar contraseña"
              name="confirm_password"
              required
            />
          </div>
          <div class="input-group">
            <i class="fas fa-phone"></i>
            <input
              type="text"
              placeholder="Teléfono"
              name="phone"
              required
            />
          </div>
          <button type="submit" class="register-button">Registrarse</button>
        </form>

        <div class="login-link">
          <p>¿Ya tienes una cuenta? <a href="./login.html">Iniciar sesión</a></p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <table>
        <!--Tiene 3 etiquetas, tr (fila), th (encabezado columna), td (columna contenido)-->
        <tr>
          <th>Clínica Dental Clasbo</th>
          <th>Redes Sociales</th>
          <th>Copyright</th>
        </tr>
        <tr>
          <td>
            <i class="fas fa-map-marker-alt"></i>
            <a
              href="https://maps.app.goo.gl/dtcW8Vk9sLSRdM9V6"
              target="_blank"
              style="text-decoration: none; color: inherit"
            >
              Av. 8 Esq. C. 29 C, Ignacio Zaragoza, Venustiano Carranza, <br />
              15000 Ciudad de México, CDMX
            </a>
            <br />
            <i class="fas fa-phone"></i> Teléfono: 55 3565 9327 <br />
          </td>
          <td>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </td>
          <td>
            <ul>
              <li>&#169; EDT - Elite Development Team, 2025</li>
              <li>
                <a
                  class="whatsapp"
                  href="https://wa.me/525619298974"
                  target="_blank"
                  ><i class="fa-brands fa-whatsapp"></i> WhatsApp</a
                >
              </li>
              <li><i class="fas fa-envelope"></i> Email:</li>
              <li>
                <a class="correo" href="mailto:contacto@edt.com"
                  >contacto@edt.com</a
                >
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </footer>
    <script src="./auth/js/register.js"></script>
    </body>
</html>