<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios - Clínica Dental Clasbo</title>
    <link rel="stylesheet" href="./src/css/services.css" />  
    <link rel="stylesheet" href="./src/css/index.css" /> 

    <script
      src="https://kit.fontawesome.com/0edb134f6f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <img src="./src/img/logo.png" alt="Clasbo+" />
      <h1>Clínica Dental Clasbo</h1>
      <div class="clearfix"></div>
      <nav>
        <a href="./index.html"> <i class="fas fa-home"></i> Inicio </a>
        <a href="./services.html"> <i class="fas fa-tooth"></i> Servicios </a>
        <a href="./specialists.html"><i class="fas fa-stethoscope"></i> Especialistas</a>
        <a href="#"> <i class="fas fa-users"></i> Sobre nosotros </a>
        <a href="#"> <i class="fas fa-calendar-alt"></i> Citas </a>
      </nav>
    </header>
    <!--Contenido-->
    <!--Banner-->
    <div class="banner">
      <img src="./src/img/banner.svg" alt="Banner de la clínica" />
    </div>
    <div class="servicios-con">
        <div class="nom-ser">
            <p>Servicios Dentales</p>
        </div>
        <div class="lista-ser">
            <a href="#"><i class="fa-solid fa-check"></i><p>Alineadores y retenedor</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Cirugía bucal</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Cirugía maxilofacial</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Diagnostico</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Diseño de sonrisa</p></a>
            <a href="conservicios6.html"><i class="fa-solid fa-check"></i><p>Endodoncia</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Implantes</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Oclusión protésica</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Operatoria dental</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Odontopediatría</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Ortopedia Dental</p></a>
            <a href="conservicios3.html"><i class="fa-solid fa-check"></i><p>Patología</p></a>
            <a href="conservicios7.html"><i class="fa-solid fa-check"></i><p>Periodoncia</p></a>
            <a href="conservicios1.html"><i class="fa-solid fa-check"></i><p>Profilaxis Dental</p></a>
            <a href="conservicios4.html"><i class="fa-solid fa-check"></i><p>Prótesis bucal</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Tratamiento de ortodoncia</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Tratamiento previo para la colocación de implantes</p></a>
            <a href="#"><i class="fa-solid fa-check"></i><p>Trauma facial y dental</p></a>
        </div>
    </div>
    <footer class="footer">
      <table>
        <!--Tiene 3 etiquetas, tr (fila), th (encabezado columna), td (columna contenido)-->
        <tr>
          <th>Clínica Dental Clasbo</th>
          <th>Redes Sociales</th>
          <th>Copyright</th>
        </tr>
        <tr>
          <td>
            <i class="fas fa-map-marker-alt"></i> 
            Av. 8 Esq. C. 29 C, Ignacio
            Zaragoza, Venustiano Carranza, <br />
            15000 Ciudad de México, CDMX <br />
            <i class="fas fa-phone"></i> Teléfono: 55 3565 9327 <br />
          </td>
          <td>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </td>
          <td>
            <ul>
              <li>&#169; Isabel Mérida, 2025</li>
              <li>
                <a class="whatsapp" href="https://wa.me/525619298976" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
              </li>
              <li><i class="fas fa-envelope"></i> Email:</li>
              <li>
                <a class="correo" href="mailto:Isa.Meryda@outlook.com">Isa.Meryda@outlook.com</a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </footer>
  </body>
</html>