<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Especialistas - Clínica Dental Clasbo</title>
    <link rel="stylesheet" href="./src/css/specialists.css" />
    <link rel="stylesheet" href="./src/css/index.css" />
    <script
      src="https://kit.fontawesome.com/0edb134f6f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <img src="./src/img/logo.png" alt="Clasbo+" />
      <h1>Clínica Dental Clasbo</h1>
      <div class="clearfix"></div>
      <nav>
        <a href="./index.html"> <i class="fas fa-home"></i> Inicio </a>
        <a href="./services.html"> <i class="fas fa-tooth"></i> Servicios </a>
        <a href="./specialists.html">
          <i class="fas fa-stethoscope"></i> Especialistas
        </a>
        <a href="#"> <i class="fas fa-users"></i> Sobre nosotros </a>
        <a href="#"> <i class="fas fa-calendar-alt"></i> Citas </a>
      </nav>
    </header>
    <div class="clearfix"></div>
    <div class="filaEspecialistas1">
      <h1 id="especialistas">Especialistas</h1><br>
    <h2 id="descripcion-especialistas-h2">
      En la Clínica Dental Clasbo nos especializamos en cuidar tu sonrisa. 
      Nuestro equipo de expertos combina experiencia, dedicación y tecnología 
      innovadora para ofrecerte tratamientos de alta calidad en un ambiente de confianza 
      y bienestar.
    </h2><br>
    <h3 id="descripcion-especialistas-h3">
      Conoce a nuestros especialistas y agenda una cita para recibir la mejor
      atención dental.
    </h3>
    </div>
    <br />
    <!-- Fila 1 -->
    <div class="especialistas">
      <!-- Especialista 1 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dr. Miguel Ángel Romero Hernández" />
        <h2>Dr. Miguel Ángel Romero Hernández</h2>
        <p>Ortodoncia y Ortopedia</p>
        <a class="btn-ver" href="detespecialistas1.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="https://www.instagram.com/miguelangeldesanchez/" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>
      <!-- Especialista 2 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dra. Edith Bahena Martínez" />
        <h2>Dra. Edith Bahena Martínez</h2>
        <p>Cirugía Oral y Maxilofacial</p>
        <a class="btn-ver" href="detespecialistas2.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>

      <!-- Especialista 3 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dra. Gabriela Chavarría Rojas" />
        <h2>Dra. Gabriela Chavarría Rojas</h2>
        <p>Ortodoncia y Ortopedia</p>
        <a class="btn-ver" href="detespecialistas3.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>

      <!-- Especialista 4 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dra. Guadalupe Teresa Hernández" />
        <h2>Dra. Guadalupe Teresa Hernández</h2>
        <p>Patología y Medicina Bucal</p>
        <a class="btn-ver" href="detespecialistas4.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>
    </div>
    <!-- Fila 2 -->
    <div class="especialistas">
      <!-- Especialista 5 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dra. Jessica Betzabe Rubio de la Rosa" />
        <h2>Dra. Jessica Betzabe Rubio de la Rosa</h2>
        <p>Ortodoncia y Ortopedia</p>
        <a class="btn-ver" href="detespecialistas5.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>

      <!-- Especialista 6 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dr. Carlos Alberto Montegudo Arrieta" />
        <h2>Dr. Carlos Alberto Montegudo Arrieta</h2>
        <p>Periodoncia</p>
        <a class="btn-ver" href="detespecialistas6.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>

      <!-- Especialista 7 -->

      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dr. Arturo Sánchez Molina" />
        <h2>Dr. Arturo Sánchez Molina</h2>
        <p>Rehabilitación Oral e Implantes</p>
        <a class="btn-ver" href="detespecialistas7.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>

      <!-- Especialista 8 -->
      <div class="especialista-card">
        <img src="./src/img/specialists/dentista.png" alt="Dra. Tanni Mariana Zarco Yáñez" />
        <h2>Dra. Tanni Mariana Zarco Yáñez</h2>
        <p>Residente Endodoncia.</p>
        <a class="btn-ver" href="detespecialistas8.html">Ver Detalle</a>
        <div class="iconos">
          <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-facebook-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-instagram-e"></i></a>
          <a href="#" target="_blank"><i class="fa-brands fa-whatsapp fa-whatsapp-e"></i></a>
        </div>
      </div>
    </div>
    <br>
    <footer class="footer">
      <table>
        <!--Tiene 3 etiquetas, tr (fila), th (encabezado columna), td (columna contenido)-->
        <tr>
          <th>Clínica Dental Clasbo</th>
          <th>Redes Sociales</th>
          <th>Copyright</th>
        </tr>
        <tr>
          <td>
            <i class="fas fa-map-marker-alt"></i> 
            Av. 8 Esq. C. 29 C, Ignacio
            Zaragoza, Venustiano Carranza, <br />
            15000 Ciudad de México, CDMX <br />
            <i class="fas fa-phone"></i> Teléfono: 55 3565 9327 <br />
          </td>
          <td>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </td>
          <td>
            <ul>
              <li>&#169; Isabel Mérida, 2025</li>
              <li>
                <a class="whatsapp" href="https://wa.me/525619298976" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
              </li>
              <li><i class="fas fa-envelope"></i> Email:</li>
              <li>
                <a class="correo" href="mailto:Isa.Meryda@outlook.com">Isa.Meryda@outlook.com</a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </footer>
  </body>
</html>