* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Reseteo de márgenes y rellenos */
}

.servicios-con {
  max-width: 600px;
  margin: 32px auto;
  background: #f9fbfc;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 24px 32px;
  font-family: 'Roboto', sans-serif;
  color: #00113D;
}

.nom-ser p {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 1.2px;
  border-bottom: 3px solid #00113D;
  padding-bottom: 6.4px;
}

.lista-ser a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 8px 0;
  padding: 6.4px 9.6px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.lista-ser a:hover {
  background-color: #056ddb;
  color: #f9fbfc;
}

.lista-ser a i {
  margin-right: 8px;
  font-size: 19.2px;
}